*{
    margin: 0  ;
    padding: 0;
}
.noyon{
    background-color: aqua ;
    
    color: aqua;
    background-color: rgb(24, 99, 165);
    text-align: center; 
    /* border: 5px  dotted tomato; */
    border: 10px solid green;


}